<!DOCTYPE html>
<script>
    function colorChange(input, out, newColor, oldColor) {
        if(!out) {
            document.getElementById(input).style.backgroundColor = newColor;
        } else {
            document.getElementById(input).style.backgroundColor = oldColor;
        }
    }
</script>
{%if user%}
<h2>Welcome to the Messaging Hub</h2>
{%endif%}
<form action = "{% url 'login:message_page' %}">
     <input id = "send_message" type="submit" onmouseover="colorChange('send_message', false, '#001E77', '#5B84FF')" onmouseout="colorChange('send_message', true, '#001E77', '#5B84FF')" value="Send Message" style="font-size: 100%; height:50px; width:200px ; border-radius: 4%; background-color: #5B84FF; color: white; font-family: Impact; border-width: 0"/>
</form>
<div style="height:10px; width:200px"></div>
<form action = "{% url 'login:logged_in_page' %}">
     <input id = "login_home" type="submit" onmouseover="colorChange('login_home', false, '#001E77', '#5B84FF')" onmouseout="colorChange('login_home', true, '#001E77', '#5B84FF')" value="Login Home" style="font-size: 100%; height:50px; width:200px ; border-radius: 4%; background-color: #5B84FF; color: white; font-family: Impact; border-width: 0"/>
</form>
<div style="height:10px; width:200px"></div>
<form action = "{% url 'login:home_page' %}">
     <input id = "logout" type="submit" onmouseover="colorChange('logout', false, '#001E77', '#5B84FF')" onmouseout="colorChange('logout', true, '#001E77', '#5B84FF')" value="Logout" style="font-size: 100%; height:50px; width:200px ; border-radius: 4%; background-color: #5B84FF; color: white; font-family: Impact; border-width: 0"/>
</form>
<div style="position:absolute; left:20%; top:10%;height:85%;width:60%;border:1px solid #ccc;overflow:auto;">
    {%if messages%}
        <form action="{%url 'login:message_display_page' %}">
        {% for displayline in messages%}
            <input id = {{displayline.0}} type="submit" onmouseover="colorChange(this.id, false, '#CCCCB3', 'white')" onmouseout="colorChange(this.id, true, '#CCCCB3', 'white')" style="text-align:left; font-size: 100%; height:20px; width:100% ; border-radius: 0%; background-color: white; color: black; border-width: 1px"/>
            <script>
                document.getElementById('{{displayline.0}}').value = "From: {{displayline.1}}   Subject: {{displayline.2}}"
            </script>
        {% endfor %}
        </form>
    {%endif%}
</div>
