<script>
    function colorChange(input, out, newColor, oldColor) {
        if(!out) {
            document.getElementById(input).style.backgroundColor = newColor;
        } else {
            document.getElementById(input).style.backgroundColor = oldColor;
        }
    }
</script>
<!--
<style>
	div{resize:both}
</style>


{%if user%}

{%if groups%}
<h1>{{user}}'s Groups</h1>
<div style="height:200px;width:400px;border:1px solid #ccc;overflow:auto;">
	{% for group, users in groups %}
	<div>
		<form action="{% url 'login:view_group' %}" method="post">
	        {% csrf_token %}
		    <input name="groupSelection" type="hidden" value={{group.id}} />
            <input name="groupChoice" type="submit" id="{{group.group_name}}{{group.id}}" onmouseover="colorChange('{{group.group_name}}{{group.id}}', false, '#001E77', '#5B84FF')" onmouseout="colorChange('{{group.group_name}}{{group.id}}', true, '#001E77', '#5B84FF')" value="{{group.group_name}} ({{group.group_creator}})" style="float:left;font-size: 100%; height:21px; width:90% ; border-radius: 4%; background-color: #5B84FF; color: white; font-family: Impact; border-width: 0"/>
		</form>
		<form action="{% url 'login:group_page' %}" method="post">
                {% csrf_token %}
				<input name="groupToLeave" type="hidden" value={{group.id}} />
                <input name="leaveGroup" type="submit" id="{{group.group_name}}{{group.id}}delete" onmouseover="colorChange('{{group.group_name}}{{group.id}}delete', false, '#001E77', '#5B84FF')" onmouseout="colorChange('{{group.group_name}}{{group.id}}delete', true, '#001E77', '#5B84FF')" value=X style="float:left;font-size: 100%; height:21px; width:10% ; border-radius: 4%; background-color: #5B84FF; color: white; font-family: Impact; border-width: 0"/>
        </form>
    </div>
		<ul style="list-style-type:none">
		{% for user in users %}
			<li>{{user.user_name}}</li>
		{% endfor %}
		</ul>
	{% endfor %}
</div>

<div style="height:20px; width:200px"></div>
{%else%}
<h1>{{user}} has no Groups</h1>
{%endif%}

{%endif%}

-->

<form action = "{% url 'login:delete_all' %}" method="post">
    {% csrf_token %}
    <input id="ps" placeholder = "Password" type = "password" name = 'password' style="float:left;"/>
    <input id = "log" type="submit" onmouseover="colorChange('log', false, '#001E77', '#5B84FF')" onmouseout="colorChange('log', true, '#001E77', '#5B84FF')" value="DELETE ALL" style="height:20px; width:80px ; border-radius: 4%; background-color: #5B84FF; color: white; font-family: Impact; border-width: 0"/>
</form>


<div style="float:left;height:19px; width:10px"></div>

</form>
<form action = "{% url 'login:logged_in_page' %}">
    {% csrf_token %}
     <input id = "home" type="submit" onmouseover="colorChange('home', false, '#001E77', '#5B84FF')" onmouseout="colorChange('home', true, '#001E77', '#5B84FF')" value="Home" style="font-size: 100%; height:40px; width:155px ; border-radius: 4%; background-color: #5B84FF; color: white; font-family: Impact; border-width: 0"/>
</form>
<div style="height:10px; width:200px"></div>
