<!DOCTYPE html>
<script>
    function colorChange(input, out, newColor, oldColor) {
        if(!out) {
            document.getElementById(input).style.backgroundColor = newColor;
        } else {
            document.getElementById(input).style.backgroundColor = oldColor;
        }
    }
</script>
{%if user%}
<h2>Hi {{user}}! Here are your reports:</h2>
{%endif%}






<form action = "{% url 'login:logged_in_page' %}">
    {% csrf_token %}
     <input id = "home" type="submit" onmouseover="colorChange('home', false, '#001E77', '#5B84FF')" onmouseout="colorChange('home', true, '#001E77', '#5B84FF')" value="Home" style="font-size: 100%; height:40px; width:155px ; border-radius: 4%; background-color: #5B84FF; color: white; font-family: Impact; border-width: 0"/>
</form>
<div style="height:10px; width:200px"></div>
